<%= link_to 'back to home', root_path %>
<br />
<h1><%= @user.fname %>, here's what's inside of YourWallet:</h1>
<br />
<h2>Total Balance: <strong><%= number_to_currency(@total_balance, unit: "$") %></strong></h2>
<br />
<%= link_to 'Add a card', new_card_path %>
<br />
<h2>Cards in YourWallet: </h2>
<% if @user.cards.first.nil? %>
	You haven't added any cards yet. To add a card, click the link above.
<% else %>
	<ul>
		<% @user.cards.each do |card| %>
			<li><%= card.cardtype %>: <%= link_to card.cardnumber_display, card_path(card.id) %> | Card Balance: 
				<strong><% if !card.balance.nil? %>
					<%= number_to_currency(card.balance, unit: "$") %>
				<% else %>
					$0.00
				<% end %></strong> - 
				<!-- need to fix this logic, doesnt ever get to else. was trying to disable shared users from deleting shared cards, and only allowing them to remove associations -->
				<% if current_user && card.card_owner_id == current_user.id %>
					<%= link_to 'share', card_path(card.id) %> | <%= link_to 'edit or add funds', edit_card_path(card.id) %> | <%= link_to 'delete', card_path(card.id), method: :delete, data: {confirm: "Are you sure you want to delete this card?"} %>
				<% else %>
					Shared card from <%= shared_name(card.card_owner_id) %> -
					<%= link_to 'remove card', remove_card_path(card.id), method: :delete, data: {confirm: "Are you sure you want to remove this #{card.card_type} shared with you?"} %>
				<% end %></li>
		<% end %>
	</ul>
<% end %>