<%= link_to 'back to MyWallet', user_path(current_user.id) %>
<br />
<h2><%= @card.cardtype %></h2>
<h3>Card Number: <%= @card.cardnumber_display %></h3>
<h3>Expires: <%= @card.expmonth %>/<%= @card.expyear %></h3>
<h2>Balance: <% if !@card.balance.nil? %>
                                <%= number_to_currency(@card.balance, unit: "$") %>
                            <% else %>
                                $0.00
                            <% end %></h2>
<br />

<% if @card.card_owner_id == current_user.id %>
    <h3>Share this card with another user by entering the user's email here:</h3>
    <%= form_tag(share_card_path(@card.id), method: :post) do %>
        <%= label_tag :email, "Email to share card to:" %>
        <%= text_field_tag :email, nil, {placeholder: "Another user's email..."} %>
        <%= submit_tag "Share" %>
    <% end %>
<% end %>
